@import "./styles/resets.css";
@import "./styles/font.css";

body {
  text-align: center;
}

h1, h2 {
  font-family: "Markazi Text";
}

h3, h4, h5 {
  font-family: "Karla";
}

h1 {
  font-size: 64px;
  color: #F4CE14;
  font-weight: medium;
}

h2 {
  font-size: 40px;
  color: #FFF;
  font-weight: normal;
}

h4 {
  font-weight: bold;
  font-size: 18px;
}

p {
  font-family: "Karla";
  font-size: 16px;
  color: #495E57;
}

/* Navbar */

nav {
  display: flex;
  flex-direction: row;
  margin: 1.5em auto;
  max-width: 875px;
  align-items: center;
  justify-content: space-between;
}

nav > a {
  margin-right: 20px;
}

nav img {
  display: flex;
  max-height: 55px;
}

nav ul {
  display: flex;
  flex-direction: row;
  font-family: "Karla";
  font-size: 18px;
  font-weight: bold;
  list-style-type: none;
}

nav ul a {
  text-decoration: none;
}

nav ul li {
  color: #000000;
  padding: 15px;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #495E57;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
  margin-right: 1em;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media screen and (max-width: 875px) {
  nav {
    width: 95%;
  }
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 75px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    display: flex;
    flex-wrap: wrap;
    height: 2.5em;
    padding: 0.5em;
    align-content: center;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > a {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    color: white;
    background-color: #EEE;
  }
  .menu > a:hover {
    background-color: #495E57;
  }
  .menu > a:hover + .menu li {
    color:#FFF;
  }
  #menu-toggle:checked .menu > a:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

/* Default Button */

.btn-default {
  font: 'Karla';
  font-weight: bolder;
  font-size: 20px;
  border-radius: 16px;
  border: none;
  color:#000000;
  background-color: #F4CE14;
  padding: 15px 20px;
  margin: 25px 0;
  transition: 300ms ease-in-out;
}

.btn-default:hover {
  cursor: pointer;
  background-color: #495E57;
  color: #FFF;
  transition: 300ms ease-in-out;
}

/* Homepage Header */

.wrapper {
  background-color: #495E57;
  padding: 50px 0;
}

.wrapper > header, .wrapper > article {
  margin: 0 auto;
  max-width: 875px;
  width: 100%;
}

header {
  position: relative;
  display: inline-flex;
}

.header-text {
  max-width: 300px;
  text-align: left;
}

.header-text p {
  padding-top: 25px;
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
}

header .btn-default {
  margin-bottom: 50px;
}

header .btn-default:hover {
  background-color: #EE9972;
  transition: 300ms ease-in-out;
}

#header-img {
  display: flex;
}

header img {
  max-height: 460px;
  width: 390px;
  object-fit: cover;
  border-radius: 16px;
  position: absolute;
  overflow-y: visible;
  right: 0;
}

@media screen and (max-width: 875px) {
  .wrapper > header {
    width: 95%;
    margin: 0 1em;
    justify-content: space-between;
    gap: 1em;
  }
  #header-img{
    max-height: 330px;
    width: 35%;
    padding-right: 1em;
  }
  header img {
    position: relative;
    overflow: hidden;
  }
}

// Reservation Header

#reserve-header {
  display: flex;
  flex-direction: row;
}

#reserve-header .header-text{
  max-width: 65%;
  margin: 2em 2em 2em 0;
}

#reserve-header img {
  width: 100%;
  border-radius: 16px;
  margin: 1em 1em 1em 0;
}

@media screen and (max-width: 875px) {
  #reserve-wrapper {
    background-image: url(./images/littleLemonTable.jpg);
    background-size: cover;
  }
  #reserve-header {
    flex-direction: column;
    width: 90%;
  }
  #reserve-header .header-text {
    max-width: 100%;
  }
  #reserve-header img {
    display: none;
  }
}

/* Specials Section */

#specials {
  max-width: 875px;
  margin: 150px auto 0 auto;
  width: 100%;
  display: grid;
  grid-template-areas: "heading heading specials-btn"
                       "cards  cards  cards";
  gap: 1em;
}

#specials h1 {
  color: #000000;
  grid-area: heading;
  text-align: left;
}

#specials .btn-default {
  margin: 0 auto;
  padding: 15px 75px;
  grid-area: specials-btn;
  align-self: self-end;
  width: 100%;
}

#specials-cards {
  grid-area: cards;
  margin-top: 3em;
}

#specials section {
  max-width: 270px;
  background-color: #EEE;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

#specials p {
  font-size: 16px;
  color: #495E57;
}

/* Specials cards */

.grid-wrapper {
  display: inline-flex;
  justify-content: space-between;
}

.food-card {
  display: grid;
  max-width: 270px;
  height: 505px;
  grid-template-areas: "img img"
                       "fc-title fc-price"
                       "description description"
                       "fc-footer fc-arrow";
  justify-items: left;
  text-align: left;
  margin-bottom: 2em;
}

.food-card img {
  height: 204px;
  width: 270px;
  object-fit: cover;
  grid-area: img;
  padding-bottom: 1em;
}

.foodcard-title {
  grid-area: fc-title;
  padding: 20px;
}

.foodcard-price {
  grid-area: fc-price;
  padding: 20px;
}

.food-card p {
  grid-area: description;
  padding: 20px;
  height: 130px;
}

.foodcard-order {
  grid-area: fc-footer;
  padding: 20px;
}

.food-card a {
  grid-area: fc-arrow;
  padding: 20px;
}

.grid-justify-right {
  justify-self: right;
}

@media screen and (max-width: 875px) {
  #specials {
    width: 95%;
    grid-template-areas: "heading"
                         "specials-btn"
                         "cards";
  }
  #specials-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Testimonials */

#testimonials h1 {
  margin-bottom: 100px;
}

#testimonials .grid-wrapper {
  max-width: 875px;
  width: 100%;
  margin-bottom: 100px;
}

.review-card {
  background-color: #EEE;
  width: 204px;
  height: 194px;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-areas: "ratingText ratingStars"
                       "reviewerImg reviewerName"
                       "quote      quote";
  text-align: left;
  justify-items: center;
  align-items: center;
}

.rating-stars {
  grid-area: ratingStars;
  justify-self: left;
}

.rating-stars svg {
  width: 16px;
  height: 16px;
  padding: 0 1px;
}

.review-card img {
  width: 66px;
  height: 52px;
  object-fit: cover;
  grid-area: reviewerImg;
}

.reviewer-name {
  grid-area: reviewerName;
}

.review-card p {
  grid-area: quote;
  width: 90%;
  height: 50px;
}

@media screen and (max-width: 875px) {
  #testimonials {
    width: 95%;
    margin: 0 auto 100px auto;
  }
  #testimonials .grid-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
  }
  .review-card {
    max-width: 204px;
    width: 100%;
  }
}

/* About section */

#about {
  display: inline-flex;
  max-width: 875px;
  height: 100%;
  width: 100%;
  margin: 100px 0;
}

#about-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  padding: 25px 0;
}

#about h1 {
  color: #495E57;
}

#about h2, #about p {
  color:#000000;
}

#about p {
  font-size: 24px;
  font-weight: 400;
  padding-top: 50px;
}

#about-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#about img {
  position:absolute;
  width: 283px;
  height: 309px;
  object-fit: cover;
  border-radius: 16px;
}

#about-first-img {
  z-index: 1;
  right: 0;
}

#about-second-img {
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 875px) {
  #about {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 95%;
    margin: 100px auto 0 auto;
  }
  #about-text {
    width: 100%;
  }
  #about-images {
    margin: 2em auto;
    width: 100%;
    min-height: 350px;
  }
  #about-images img {
    width: 70%;
    height: 70%;
  }
}

// Booking form
form {
  max-width: 875px;
  margin: 2em auto;
}

label {
  font-family: "Karla";
  font-size: 16px;
  color:#495E57;
  width: 10em;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}

form h2 {
  color:#000000;
  text-align: left;
  margin-bottom: 1em;
}

#customer-info {
  border-bottom: 1px solid #b9bdbc;
  margin-bottom: 3em;
  padding-bottom: 3em;
}

.form-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: nowrap;
  justify-content: left;
  align-items: center;
  max-width: 100vw;
}

.form-column {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

input, select {
  flex-grow: 1;
  font-family: "Karla";
  font-size: 16px;
  height: 2em;
  border-radius: 16px;
  border: 1px solid #495E57;
  margin: 1em 0 0.25em 2em;
  padding-left: 2em;
  grid-area: input;
}

#diner-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-error {
  border-color: #dd4040;
  border-width: 3px;
}

.form-error-text {
  color: #dd4040;
  width: 100%;
  margin-left: 2.5em;
  grid-area: errors;
}

#phoneNumber {
  width: 30%;
}

.form-column select {
  appearance: none;
}

.guests-btn {
  border: none;
  background-color: #FFF;
  font-family: "Karla";
  font-size: 40px;
  margin: 10px 0 5px 20px;
  font-weight: bold;
  cursor: pointer;
}

#guests {
  max-width: 10%;
}

.chevron:after {
  content: "^";
  font-family: "Karla";
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  bottom: 25px;
  left: 180px;
  z-index: 1;
  transform: rotate(180deg);
  pointer-events: none;
}

#resDate {
  width: 150px;
  padding-right: 2em;
}

#resTime {
  width: 180px;
}

.convo-bubbles {
  pointer-events: none;
  position: absolute;
  bottom: 23px;
  left: 50px;
}

.convo-bubbles svg {
  height: 20px;
}

#occasion {
  padding-left: 50px;
  width: 180px;
}

.radio-group {
  justify-content: space-around;
}

.radio-group input {
  padding: 5px;
  margin: 0;
  width: 1.5em;
}

.radio-group label {
  width: 5em;
}

#diner-section img {
  max-width: 20em;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  align-self: flex-start;
  margin-top: 3em;
  flex-grow: 1;
}

@media screen and (max-width: 875px) {
  * {
    box-sizing: border-box;
  }
  form {
    width: 95%;
  }
  form h2 {
    text-align: center;
  }
  form label {
    max-width: 25%;
    align-self: flex-start;
  }
  form input {
    margin: 0;
    max-width: 100%;
  }
  .form-wrapper {
    gap: 10px;
    max-width: 100%;
  }
  .form-row {
    align-content: center;
  }
  #customer-info {
    justify-content: center;
  }
  #customer-info input {
    width: 90%;
  }
  #diner-info {
    justify-content: center;
  }
  #diner-info select {
    margin: 0;
  }
  .chevron:after {
    left: 150px;
  }
  .convo-bubbles {
    left: 15px;
    top: 5px;
  }
  #resDate {
    min-width: 200px;
  }
  #guests-row button {
    max-width: 40px;
    margin: 0;
    padding: 0 15px;
  }
  #guests {
    margin-right: 0;
    margin-left: 0;
    min-width: 75px;
  }
  #diner-section .btn-default {
    margin: 0;
    width: 100%;
    justify-self: center;
    align-self: center;
  }
  #diner-section img {
    display: none;
  }
}
/* Footer */

footer {
  color:#FFF;
}

footer .grid-wrapper {
  max-width: 875px;
  width: 100%;
  text-align: left;
  padding: 2em 0;
  margin: 0 auto;
}

footer img {
  background-color: #FFF;
  max-width: 110px;
  padding: 21px;
}

footer h4 {
  max-height: 50px;
  height: 100%;
}

footer ul {
  margin-top: 25px;
  list-style-type: none;
  font-family: "Karla";
  font-size: 16px;
}

footer ul li {
  padding: 5px 0;
  color:#FFF;
}

footer a {
  text-decoration: none;
  color:#FFF;
  font-family: "Karla";
  font-size: 16px;
}

@media screen and (max-width: 875px) {
  footer .grid-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    width: 95%;
  }
  footer .grid-wrapper div {
    width: 200px;
    margin-top: 2em;
  }
}