@import "./styles/resets.css";
@import "./styles/font.css";

body {
  text-align: center;
}

h1, h2 {
  font-family: "Markazi Text";
}

h3, h4, h5 {
  font-family: "Karla";
}

h1 {
  font-size: 64px;
  color: #F4CE14;
  font-weight: medium;
}

h2 {
  font-size: 40px;
  color: #FFF;
  font-weight: normal;
}

h4 {
  font-weight: bold;
  font-size: 18px;
}

p {
  font-family: "Karla";
  font-size: 16px;
  color: #495E57;
}

/* Navbar */

nav {
  display: inline-flex;
  margin: 25px auto;
  max-width: 875px;
  align-items: center;
}

nav > a {
  margin-right: 20px;
}

nav img {
  height: 55px;
}

nav ul {
  display: inline-flex;
  font-family: "Karla";
  font-size: 18px;
  font-weight: bold;
  list-style-type: none;
}

nav ul a {
  text-decoration: none;
}

nav ul li {
  color: #000000;
  padding: 15px;
}


/* Default Button */

.btn-default {
  font: 'Karla';
  font-weight: bolder;
  font-size: 20px;
  border-radius: 16px;
  border: none;
  color:#000000;
  background-color: #F4CE14;
  padding: 15px 20px;
  margin: 25px 0;
  transition: 300ms ease-in-out;
}

.btn-default:hover {
  cursor: pointer;
  background-color: #495E57;
  color: #FFF;
  transition: 300ms ease-in-out;
}

/* Header */

.wrapper {
  background-color: #495E57;
  padding: 50px 0;
}

header {
  position: relative;
  margin: 0 auto;
  max-width: 875px;
  width: 100%;
  display: inline-flex;
}

#headerText {
  max-width: 300px;
  text-align: left;
}

header p {
  padding-top: 25px;
  color: #FFF;
  font-weight: bold;
  font-size: 20px;
}

header .btn-default {
  margin-bottom: 50px;
}

header .btn-default:hover {
  background-color: #EE9972;
  transition: 300ms ease-in-out;
}

header img {
  max-height: 460px;
  width: 390px;
  object-fit: cover;
  border-radius: 16px;
  position: absolute;
  overflow-y: visible;
  right: 0;
}

/* Specials Section */

#specials {
  max-width: 875px;
  margin: 150px auto 0 auto;
  width: 100%;
  display: grid;
  grid-template-areas: "heading heading specials-btn"
                       "cards  cards  cards";
  gap: 1em;
}

#specials h1 {
  color: #000000;
  grid-area: heading;
  text-align: left;
}

#specials .btn-default {
  margin: 0 auto;
  padding: 15px 75px;
  grid-area: specials-btn;
  align-self: self-end;
  width: 100%;
}

#specials-cards {
  grid-area: cards;
  margin-top: 3em;
}

#specials section {
  max-width: 270px;
  background-color: #EEE;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
}

#specials p {
  font-size: 16px;
  color: #495E57;
}

/* Specials cards */

.grid-wrapper {
  display: inline-flex;
  justify-content: space-between;
}

.food-card {
  display: grid;
  max-width: 270px;
  height: 505px;
  grid-template-areas: "img img"
                       "fc-title fc-price"
                       "description description"
                       "fc-footer fc-arrow";
  justify-items: left;
  text-align: left;
  margin-bottom: 2em;
}

.food-card img {
  height: 204px;
  width: 270px;
  object-fit: cover;
  grid-area: img;
  padding-bottom: 1em;
}

.foodcard-title {
  grid-area: fc-title;
  padding: 20px;
}

.foodcard-price {
  grid-area: fc-price;
  padding: 20px;
}

.food-card p {
  grid-area: description;
  padding: 20px;
  height: 130px;
}

.foodcard-order {
  grid-area: fc-footer;
  padding: 20px;
}

.food-card a {
  grid-area: fc-arrow;
  padding: 20px;
}

.grid-justify-right {
  justify-self: right;
}

/* Testimonials */

#testimonials h1 {
  margin-bottom: 100px;
}

#testimonials .grid-wrapper {
  max-width: 875px;
  width: 100%;
  margin-bottom: 100px;
}

.review-card {
  background-color: #EEE;
  width: 204px;
  height: 194px;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-areas: "ratingText ratingStars"
                       "reviewerImg reviewerName"
                       "quote      quote";
  text-align: left;
  justify-items: center;
  align-items: center;
}

.rating-stars {
  grid-area: ratingStars;
  justify-self: left;
}

.rating-stars svg {
  width: 16px;
  height: 16px;
  padding: 0 1px;
}

.review-card img {
  width: 66px;
  height: 52px;
  object-fit: cover;
  grid-area: reviewerImg;
}

.reviewer-name {
  grid-area: reviewerName;
}

.review-card p {
  grid-area: quote;
  width: 90%;
  height: 50px;
}

/* About section */

#about {
  display: inline-flex;
  max-width: 875px;
  max-height: 450px;
  height: 100%;
  width: 100%;
  margin: 100px 0;
}

#about-text {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  padding: 25px 0;
}

#about h1 {
  color: #495E57;
}

#about h2, #about p {
  color:#000000;
}

#about p {
  font-size: 24px;
  font-weight: 400;
  padding-top: 50px;
}

#about-images {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

#about img {
  position:absolute;
  display: flex;
  Width: 283px;
  Height: 309px;
  object-fit: cover;
  border-radius: 16px;
}

#about-first-img {
  z-index: 1;
  right: 0;
}

#about-second-img {
  bottom: 0;
}

/* Footer */

footer {
  color:#FFF;
}

footer .grid-wrapper {
  max-width: 875px;
  width: 100%;
  text-align: left;
  padding: 2em 0;
}

footer img {
  background-color: #FFF;
  max-width: 110px;
  padding: 21px;
}

footer h4 {
  max-height: 50px;
  height: 100%;
}

footer ul {
  margin-top: 25px;
  list-style-type: none;
  font-family: "Karla";
  font-size: 16px;
}

footer ul li {
  padding: 5px 0;
  color:#FFF;
}

footer a {
  text-decoration: none;
  color:#FFF;
  font-family: "Karla";
  font-size: 16px;
}